@use "@digitalspace/bcparks-bootstrap-theme/dist/scss/variables";

$bg-dark: variables.$primary;
$bg-info: variables.$info;
$bg-header-secondary: #d7dee8;
$text-default: #494949;
$error: variables.$danger;

// Background Colors
$bg-default: variables.$form-grey;

// Header
$header-font-color: variables.$light;
$header-bg: $bg-dark;
$header-h1: variables.$blue;

// Footer
$footer-bg: $bg-dark;
$footer-color: variables.$light;
$bg-dark-border-color: #5475a7;

// Main navigation
$mn-color: variables.$light;
$mn-border-color: #5f79a2;
$mn-hover-bg: #2b4777;
$mn-hover-color: variables.$bcgold;
$mn-toggle-color: variables.$bcgold;
$mn-dropdown-bg: #2b4777;